.filter-checkbox {
  padding: 32px  0 47px 0;
  border-top: 1px solid var(--color-bg-tertiary);
  grid-column-start: -3;
  grid-column-end: -1;
}

.filter-checkbox__label {
  font-size: 13px;
  line-height: 1.4;
  padding-left: calc(36px + 14px); /* slider width plus desired gap */

  display: block;
  position: relative;
  cursor: pointer;
}

.filter-checkbox__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.filter-checkbox__input:focus-visible + .filter-checkbox__slider {
  outline: auto;
}

.filter-checkbox__input:checked + .filter-checkbox__slider {
  background-color: #ebebeb;
}

.filter-checkbox__input:checked + .filter-checkbox__slider:after {
  right: calc(36px - 16px - 2px); /* ширина ползунка минус ширина переключения управления минус желоб переключения */
  background-color: var(--color-bg-secondary);
}

.filter-checkbox__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px; /* slider width */
  height: 20px;
  border-radius: 20px;
  background-color: var(--color-accent-primary);

  transition: background-color .3s ease, opacity .3s ease;
}

.filter-checkbox__slider:hover {
  opacity: .8;
}

.filter-checkbox__slider:after {
  content: "";
  position: absolute;
  top: 2px; /* toggle gutter */
  right: 2px; /* toggle gutter */
  width: 16px; /* toggle control width */
  height: 16px;
  border-radius: 50px;
  background: var(--color-text-fivth);

  transition: background-color .3s ease, right .3s ease;
}

@media screen and (max-width: 1023px) {
  .filter-checkbox {
    padding: 29px 0 60px;
    display: flex;
    justify-content: flex-end;
  }
  .filter-checkbox__slider {
    position: absolute;
    left: 83%;

  }
  .filter-checkbox__label {
    padding-right: 55px;
  }
}

@media screen and (max-width: 767px) {
  .filter-checkbox {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    padding-top: 40px;
  }

  .filter-checkbox__label {
    font-size: 11px;
    line-height: 1.65;
  }
}
